* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding-bottom: 25px;
    font-family: 'Raleway', sans-serif;
}

header h1 {
    display: flex;
    justify-content: center;
    color: #fff;
    text-shadow: 2px 2px 3px #000;
    padding: 35px;
    font-size: 50px;
}

.accordion-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 1000px;
    margin: auto;
}

.accordion-item {
    display: flex;
    max-height: 500px;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px #000;
    margin: 5px;
}

.accordion-item-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 150px;
    padding: 30px;
    color: #fff;
    text-shadow: 2px 2px 3px #000;
    cursor: pointer;
    
    transition: transform 0.3s ease-in-out;
}

.accordion-item-header h2 {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.accordion-item:nth-child(odd) {
    background-color: #ebcb00;
    background: linear-gradient(to right, #ebcb00 0%, #e15151 100%);
}

.accordion-item:nth-child(even) {
    background-color: #010104;
    background: linear-gradient(to right, #010104 0%, #cec5c9 100%);
}

.accordion-item-header p i {
    font-size: 25px;
    transition: transform 0.3s ease-in-out;
}

.accordion-item-header.active p i {
    transform: rotate(-180deg);  
}

.accordion-item-body {
    max-width: 0;
    overflow: hidden;
    transition: max-width 0.3s ease-in-out;
}

.accordion-item-body-content {
    padding: 20px;
    width: 500px;
    height: 500px;
    text-align: justify;
    background-color: #fff;
}

.accordion-item-body-content h3 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.accordion-item-body-content ul li {
    list-style-position: inside;
}