* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-size: 20px;
    font-family: 'Shadows Into Light', cursive;
    background-image: url('./img/coffee-1128136_1920.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding: 40px;
}

.menu button, .panel-buttons button {
    padding: 12px 25px;
    background: rgb(204, 204, 204);
    border: 1px solid #999;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.4s, color 0.4s;
}

.menu button:hover, .panel-buttons button:hover {
    background-color: #333;
    color: #ddd;
}

.icon {
    margin-right: 20px;
}

.note-area {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
}

.note {
    margin: 40px 20px;
    width: 240px;
    background-color:orange;
    border: 1px solid black;
}

.note-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
}

.note-header .delete-note {
    text-align: centertime;
    background: none;
    border: none;
    font-size: 23px;
    cursor: pointer;
    transition: transform 0.4s;
}

.note-header .delete-note:hover {
    transform: rotate(45deg);
}