* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}
h1 {
    display: flex;
    justify-content: center;
    padding: 20px;
    color: #fff;
    text-shadow: 3px 3px 3px #000;
}

.slides-container {
    width: 60%;
    overflow: hidden;
    margin: auto;
    border: 2px solid #000;
}

.slides {
  display: flex;
  position: relative;
}

.slide-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 500px;
    width: 800px;
}


.slide-1 {
    background-image: url('./img/prague-2192419_640.jpg');
}

.slide-2 {
    background-image: url('./img/bridge-4976386_640.jpg');
}

.slide-3 {
    background-image: url('./img/patagonia-5354728_640.jpg');
}

.slide-4 {
    background-image: url('./img/rower-4347495_640.jpg');
}

.slide-5 {
    background-image: url('./img/solely-5082741_640.jpg');
}

.slide-6 {
    background-image: url('./img/waterfall-841319_640.jpg');
}

.slide-7 {
    background-image: url('./img//spring-3389422_640.jpg');
}

.content {
    position: relative;
    top: 300px;
    width: 450px;
    background-color: rgba(189, 179, 179, 0.7);
    padding: 30px;
}

.content h2 {
    padding-bottom: 10px;
}


button {
    position: absolute;
    background-color: transparent;
    border: none;
    font-size: 35px;
    color: rgba(102, 211, 211, 0.7);
    cursor: pointer;
}

.previous-btn {
    top: 33%;
    left: 22%;
}

.next-btn {
    top: 33%;
    right: 22%;
}

