* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}
h1 {
    display: flex;
    justify-content: center;
    padding: 20px;
    color: rgb(250, 163, 136);
    text-shadow: 3px 3px 3px #000;
}

.slides-container {
    width: 60%;
    overflow: hidden;
    margin: auto;
    border: 2px solid #000;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgb(250, 163, 136);
}

.slides-carousel {
    display: flex;
    position: relative;
}

.slide-item {
    height: 550px;
    width: 850px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%; 
}


.slide-1 {
    background-image: url('./img/prague-2192419_640.jpg');
}

.slide-2 {
    background-image: url('./img/bridge-4976386_640.jpg');
}

.slide-3 {
    background-image: url('./img/patagonia-5354728_640.jpg');
}

.slide-4 {
    background-image: url('./img/rower-4347495_640.jpg');
}

.slide-5 {
    background-image: url('./img/solely-5082741_640.jpg');
}

.slide-6 {
    background-image: url('./img/waterfall-841319_640.jpg');
}

.slide-7 {
    background-image: url('./img//spring-3389422_640.jpg');
}

.content {
    position: relative;
    top: 330px;
    width: 450px;
    background-color: rgba(189, 179, 179, 0.7);
    padding: 30px;
}

@media screen and (max-width:780px){
    .content {
        top: 394px;
    }
}

@media screen and (max-width:680px){
    .content {
        top: 392px;
        width: 390px;
    }
}

@media screen and (max-width: 569px) {
    .content {
        top: 372px;
        width: 325px;
    }
}

.content h2 {
    padding-bottom: 10px;
}


button {
    position: absolute;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 35px;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s;
}

button > i:active {
 text-shadow: 2px 2px #fff;
}

button:hover {
    color: rgb(250, 163, 136);
}

.previous-btn {
    top: 38%;
    left: 22%;
}

.next-btn {
    top: 38%;
    right: 22%;
}

