@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Langar', cursive;
    font-size: 1.5rem;
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
}

h1 {
    color: rgb(216, 212, 212);
    text-shadow: -3px -3px 5px #000;
    margin-bottom: 20px;
    text-align: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 500px;
    height: 500px;
    background-color: #9e8fb2;
    background-image: linear-gradient(315deg, #9e8fb2 0%, #a7acd9 74%);
    box-shadow: 0px 0px 8px rgb(206, 202, 203);
}

.pieces {
    width: 30%;
    height: 150px;
    border: 1px solid #fff;
    margin-top: 8px;
    background-size: cover;
    background-repeat: no-repeat;
}

#piece-1 {
    background-image: url('./img/row-1-col-1.jpg');
}


#piece-2 {
    background-image: url('./img/row-1-col-2.jpg');
}


#piece-3 {
    background-image: url('./img/row-1-col-3.jpg');
}


#piece-4 {
    background-image: url('./img/row-2-col-1.jpg');
}


#piece-5 {
    background-image: url('./img/row-2-col-2.jpg');
}


#piece-6 {
    background-image: url('./img/row-2-col-3.jpg');
}


#piece-7 {
    background-image: url('./img/row-3-col-1.jpg');
}


#piece-8 {
    background-image: url('./img/row-3-col-2.jpg');
}


#piece-9 {
    background-color: rgb(212, 209, 205);
}
